<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a mi <%= title %> <br>
    </p>
    <quizzes href="localhost:3000/credits">Quizzes</quizzes>
    <credits href="localhost:3000/quizzes">Créditos</credits>
  </body>
</html>
