<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a mi <%= title %> <br>
    </p>
    <a href="localhost:3000/credits">Quizzes</a> <br>
    <a href="localhost:3000/quizzes">Créditos</a>
  </body>
</html>
